@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aladin&family=Bebas+Neue&family=Fredoka+One&family=Kaushan+Script&family=Monoton&family=Pacifico&family=Pattaya&family=Roboto:ital,wght@1,900&family=Suez+One&display=swap');
/* font-family: 'Aladin', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Monoton', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Suez One', serif;*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
  }
  :root{
	--bgcolor:#000000;
	--maincolor:#06f5f5;
  }
  
body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
    background: #151616;
}
h1{
	padding: 1rem 0rem;
	margin: 0;
	font-size: 2.5rem;
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	text-shadow: 0px 0px 5px #06f5f5;
    font-family: 'Aladin', cursive;
}
.inner{
	margin: 0 auto;
	text-align: center;
}
.my-inner{
	padding: 2rem 5rem !important;
}
.container-padding50 {
	padding-top: 20px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 15px;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	margin-left: 2rem;
	display: inline-block;
	padding: 5px 12px;
	background-color: var(--maincolor);
	color: var(--bgcolor);
	font-size: 2.3rem;
    font-family: 'Aladin', cursive;
	border: 1px solid var(--maincolor);
	border-radius: 5px;
}
.container-button:hover {
	background-color:transparent;
	color: #fff;
	box-shadow: 0px 0px 5px var(--maincolor);
	border: 2px solid var(--maincolor);
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:2%;
	margin-bottom:2%;

}
@media (max-width:600px){
	.container-padding50 {
		padding-top: 30px;
	}
	.container-textinput {
		width: 70%;
		padding: 10px;
		font-size: 16px;
	}
	.container-button {
		width: 20%;
		margin-left: 1rem;
		padding: 10px ;
		background-color: var(--maincolor);
		font-size: 16px ;
	}
	.my-inner {
		padding: 1rem 0rem !important;
	}
	.container-image {
		width: 47%;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	
	
	
}